.user-management-container {
  padding: 20px;
}

.actions-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  align-items: center;
}

.button-group {
  display: flex;
  gap: 8px;
}

.loading-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
}

.table-container {
  overflow-x: auto;
}

table {
  width: 100%;
}

mat-form-field {
  width: 50%;
}

.mat-column-actions {
  width: 150px;
  text-align: center;
}

.mat-cell {
  padding: 8px 0;
}

.mat-mdc-row:hover {
  background-color: rgba(0, 0, 0, 0.04);
}
